<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.impressao3d">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Impressao3D">
        <activity
            android:name=".Cliente_Editar_Activity"
            android:exported="true" />
        <activity
            android:name=".Cliente_Cadastro_Activity"
            android:exported="true" />
        <activity
            android:name=".Produto_Activity"
            android:exported="true" />
        <activity
            android:name=".Cliente_Activity"
            android:exported="true" />
        <activity
            android:name=".Usuario_Cadastro_Activity"
            android:exported="true" />
        <activity
            android:name=".Usuario_Login_Activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>